{% load static %}

<link rel="stylesheet" href="{% static 'emfood/style.css' %}">
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>EMFood</title>
        <meta name="keywords" content="ページのキーワードA,B,C">
        <meta name="description" content="ページの説明">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="outer">
            <header>
                <div id="header-container">
                    <div id="head-inner">
                        <h1>非常食管理アプリ　</h1>
                        <p class="description">～非常食管理とシェアの味方～</p>
                    </div>
                </div>
            </header>
            <div id="content-wrapper">
                <main>
                    {% if out > 0 %}
                        <h2 style='color: #bb0000;font-weight:bold;'>消費期限が切れた非常食が{{out}}件あります！！</h2>
                    {% endif %}
                    {% if near > 0 %}
                        <h2 style='color: #eedd22;font-weight:bold;'>消費期限が近い非常食が{{near}}件あります！！</h2>
                    {% endif %}
                </main>
                <p></p>
                <aside>
                    <h2>非常食一覧</h2>
                    <div class="food-list-head">
                        <div class='food-name'>食品名</div>
                        <div class='food-num'>個数</div>
                        <div class='food-ex'>消費期限</div>
                    </div>
                    {% for food in foodData %}
                        {% if 'takahashi' in food.user %}
                            {% if now > food.limit_date %} 
                                <div class="food-list" style="background: #bb0000">
                                    <div class='food-name'>{{ food.name }}</div>
                                    <div class='food-num'>{{ food.num}}</div>
                                    <div class='food-ex'>{{ food.limit_date }}</div>
                                </div>
                            {% elif month_later_1 > food.limit_date %}
                                <div class="food-list" style="background: #eedd22">
                                    <div class='food-name'>{{ food.name }}</div>
                                    <div class='food-num'>{{ food.num}}</div>
                                    <div class='food-ex'>{{ food.limit_date }}</div>
                                </div>
                            {% else %}
                                <div class="food-list">
                                    <div class='food-name'>{{ food.name }}</div>
                                    <div class='food-num'>{{ food.num}}</div>
                                    <div class='food-ex'>{{ food.limit_date }}</div>
                                    {% if food.shere != True %}
                                        <form action="{% url 'emfood:sharefood' %}" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="シェア">
                                        </form>
                                    {% else %}
                                        {% comment %} <input type="checkbox" name="shere"> {% endcomment %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                </aside>
                <div class="container">
                    <a href="./register" class="btn btn--orange register-btn">非常食の登録<a>
                    <a href="./share" class="btn btn--orange share-btn">シェア画面へ</a>
                </div>
            </div>
            <footer>© TGI C18</footer>
        </div>
    </body>
</html>