{% load static %}

<link rel="stylesheet" href="{% static 'emfood/style.css' %}">
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>EMFood</title>
        <meta name="keywords" content="ページのキーワードA,B,C">
        <meta name="description" content="ページの説明">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="outer">
            <header>
                <div id="header-container">
                    <div id="head-inner">
                        <h1>非常食管理アプリ　</h1>
                        <p class="description">～非常食管理とシェアの味方～</p>
                    </div>
                </div>
            </header>
            <div id="content-wrapper">
                <main>
                    {% if True %}
                    <div id="inner">
                        <h2>消費期限の近い非常食が X 個あります！！</h2>
                    </div>
                    {% endif %}
                </main>
                <p></p>
                <aside>
                    <h2>非常食一覧</h2>
                    <div class="food-list-head">
                        <div class='food-name'>食品名</div>
                        <div class='food-num'>個数</div>
                        <div class='food-ex'>消費期限</div>
                    </div>
                    {% for food in foodData %}
                    <div class="food-list">
                        <div class='food-name'>{{ food.name }}</div>
                        <div class='food-num'>{{ food.num}}</div>
                        <div class='food-ex'>{{ food.expire_date }}</div>
                    </div>
                    {% endfor %}
                    
                </aside>
                <div class="container">
                    <a href="./register" class="btn btn--orange register-btn">登録画面へ<a>
                    <a href="" class="btn btn--orange share-btn">シェア画面へ</a>
                </div>
            </div>
            <footer>© TGI C18</footer>
        </div>
    </body>
</html>