{% load static %}

<link rel="stylesheet" href="{% static 'emfood/style.css' %}">
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>EMFood</title>
        <meta name="keywords" content="非常食">
        <meta name="description" content="非常食の購入品を登録する">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="outer">
            <header>
                <div id="header-container">
                    <div id="head-inner">
                        <h1>非常食管理アプリ　</h1>
                        <p class="description">～非常食管理とシェアの味方～</p>
                    </div>
                </div>
            </header>
            <div id="content-wrapper">
                <aside>
                    <h2>登録内容</h2>
                </aside>
                {{ message }}
                <div class=centre>
                <table>
                    <form action="{% url 'emfood:register' %}" method="post">
                      {% csrf_token %}
                      {{ form.as_table }}
                      <tr>
                        <td></td>
                        <td>
                            <input type="submit"
                                value="送信"
                                class="btn btn--orange register-btn">
                        </td>
                      </tr>
                    </form>
                  </table>
                </div>
                <p></p>
            </div>
            <footer>© TGI C18</footer>
        </div>
    </body>
</html>